body {
  margin: 0;
  padding: 0;
  user-select: none;
}

table {
  border-spacing: 0px;
}
table {
  width: 100vw;
}
td {
  width: 33%;
}

th, td, tbody {
  border: 1px solid black;
  border-collapse: collapse;
  height: 30px;
  line-height: 30px;
}

details {
  border: none;
}

summary{
  outline:none;
  height: 30px;
}

td:nth-child(n+2){
  text-align: center;
}